body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: url('/icons/football_field.svg') no-repeat center center;
    background-size: 1920px 1080px; /* Ensure the background size is fixed */
    z-index: -1; /* Ensure the background is behind the game elements */
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.button-container {
    margin-top: 20px; /* Space between the background and the button */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.start-button {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 24px; /* Increased font size */
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the background */
}

.start-button:hover {
    background-color: #45a049;
}
