body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background {
    position: absolute; /* Ensure the background is always in the same place */
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: url('/icons/football_field.svg') no-repeat center center;
    background-size: 1920px 1080px; /* Ensure the background size is fixed */
    z-index: -1; /* Ensure the background is behind the game elements */
}

.game-container {
    position: absolute; /* Make sure the game container is also absolute */
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 0; /* Ensure the game container is above the background */
}

.button-container {
    position: absolute; /* Absolute positioning within #root */
    top: 1100px; /* Place it right below the background */
    left: 875px; /* Set the X position */
    z-index: 2; /* Ensure the button container is above the background */
}
.start-button {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 24px; /* Increased font size */
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the background */
}

.start-button:hover {
    background-color: #45a049;
}
